:host ::ng-deep .selected-player {
    td {
        color: var(--primary-color) !important;
    }
}

:host ::ng-deep .positive-time {
    color: var(--info);
    opacity: 90%;
    font-size: 0.8em;
}

:host ::ng-deep .negative-time {
    color: var(--danger);
    opacity: 90%;
    font-size: 0.8em;
}
