:host ::ng-deep .selected-player {
    td {
        color: var(--primary-color) !important;
    }
}

:host ::ng-deep .positive-time {
    color: #66d9e8;
    opacity: 90%;
    font-size: 0.8em;
}

:host ::ng-deep .negative-time {
    color: #f03e3e;
    opacity: 90%;
    font-size: 0.8em;
}
