<p>admin-screen works!</p>

<p-panel header="Edit Config">
    <ul>
        <li><p-button (click)="showRabbitConfig()" icon="pi pi-search" label="Rabbit"></p-button></li>
        <li><p-button (click)="showS3Config()" icon="pi pi-search" label="S3"></p-button></li>
        <li><p-button (click)="showLokiConfig()" icon="pi pi-search" label="Loki"></p-button></li>
        <li><p-button (click)="showChallengesConfig()" icon="pi pi-search" label="Challenges"></p-button></li>
    </ul>
</p-panel>

<p-panel header="Edit Dedicated">
    <p-splitButton label="New" icon="pi pi-plus" (onClick)="showNewDedicatedConfig()" [model]="dedicatedConfigsSelector"></p-splitButton>
</p-panel>