<!--
<app-challenges-ticker [challenges]="challenges" [settings]="settings" [currentChallenges]="currentChallenges" [nextChallenges]="nextChallenges" [switchAutoRefreshEvent]="switchAutoRefreshSubject.asObservable()" (onEnableRefresh)="switchAutoRefreshSubject.next(true)" (onDisableRefresh)="switchAutoRefreshSubject.next(false)"></app-challenges-ticker>
-->

<div class="title-bar">
    <div class="title">
        <i class="pi pi-chevron-down"></i>
        <span i18n="Title of the current challenge ranking table@@tableCurrentChallengeTitle">Current Challenge</span>
        <i class="pi pi-chevron-down"></i>
    </div>
    <div class="title">
        <i class="pi pi-chevron-up"></i>
        <span i18n="challenge schedule ticker title|Title of the challenge schedule ticker on wallboard screen@@wallboardChallegenScheduleTitle">
            Challenge Schedule
        </span>
        <i class="pi pi-chevron-up"></i>
    </div>
    <div class="title">
        <i class="pi pi-chevron-down"></i>
        <span i18n="Title of the global rankings table@@tableGlobalRankingTitle">Global Ranking</span>
        <i class="pi pi-chevron-down"></i>
    </div>
</div>

<div class="rankings-container">
    <div class="ranking-challenge" *ngFor="let server of servers">
        <div class="challenge-connector"></div>
        <app-ranking-challenge [players]="players" [challengeRankings]="challengeRankings[server.id]" [currentChallenge]="currentChallenges[server.id]" [nextChallenge]="nextChallenges[server.id]"></app-ranking-challenge>
    </div>

    <div class="ranking-global">
        <div class="global-connector"></div>
        <app-ranking-global [players]="players" [globalRankings]="globalRankings"></app-ranking-global>
    </div>
</div>

<p-speedDial [model]="speeddail_menu" direction="left" buttonClassName="p-button-outlined"></p-speedDial>

<div class="msg-container">
    <p-messages severity="error" styleClass="msg-box" *ngIf="lostConnection">
        <ng-template pTemplate>
            <span class="custom-message"><ng-container i18n="Info box content for error, that the connection to at least one dedicated server got lost@@infoBoxLostConnection">Lost connection to dedicated gameserver! Please contact</ng-container>: {{ settings ? settings.display_admin : 'Admin' }}</span>
        </ng-template>
    </p-messages>

    <p-messages severity="error" styleClass="msg-box" *ngIf="settings && settings.end_time && time_left <= 1200 && time_left > 0">
        <ng-template pTemplate>
            <span class="custom-message"><ng-container i18n="Info box content for end_time warning@@infoBoxEndTime">Tournament ends at</ng-container>: {{ settings.end_time * 1000 | date:'mediumTime' }}</span>
        </ng-template>
    </p-messages>

    <p-messages severity="warn" styleClass="msg-box" *ngIf="settings && settings.end_time && time_left < 3600 && time_left > 1200">
        <ng-template pTemplate>
            <span class="custom-message"><ng-container i18n="Info box content for end_time warning@@infoBoxEndTime">Tournament ends at</ng-container>: {{ settings.end_time * 1000 | date:'mediumTime' }}</span>
        </ng-template>
    </p-messages>
    
    <p-messages severity="warn" styleClass="msg-box" *ngIf="unpredictedUpIn">
        <ng-template pTemplate>
            <span class="custom-message"><ng-container i18n="Info box content for warning, that not all up in times are savely predicted@@infoBoxUnpredictedUpIn">'Up in' times might vary as not all time limits are finally calculated yet!</ng-container></span>
        </ng-template>
    </p-messages>
    
    <p-messages severity="success" styleClass="msg-box" *ngIf="displayPageFoundAtURL">
        <ng-template pTemplate>
            <span class="custom-message"><ng-container i18n="Info box content for this page can be found at@@infoBoxPageFoundAt">This page (and a lot more) is available at</ng-container>: {{ settings ? settings.display_self_url : '???' }}</span>
        </ng-template>
    </p-messages>
</div>
