:host ::ng-deep .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.5rem;
    background-color: var(--surface-card);
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    .title {
        font-family: var(--font-family);
        color: var(--primary-color);
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        i {
            font-size: 1.2rem;
        }
    }
}

:host ::ng-deep .rankings-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0rem;
    margin-bottom: 1rem;

    .ranking-challenge {
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .challenge-connector {
            width: 1rem;
            height: 1rem;
            margin-left: calc(50% - 0.5rem);
            margin-right: calc(50% - 0.5rem);
            background-color: var(--surface-card);
        }
    }

    .ranking-global {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .global-connector {
            width: 1rem;
            height: 1rem;
            margin-left: calc(50% - 0.5rem);
            margin-right: calc(50% - 0.5rem);
            background-color: var(--surface-card);
        }
    }
}

:host ::ng-deep .ranking-table {
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--surface-card);
    
        tr, tr th {
            background-color: rgba(255, 255, 255, 0);
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }
}

:host ::ng-deep .p-speeddial-direction-left {
    right: 1rem;
    bottom: 1rem;

    .p-speeddial-button {
        width: 3.5rem;
        height: 3.5rem;
    }

    .p-speeddial-action {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.35rem;
        margin-right: 0.35rem;
        text-decoration: none;
    }

    .p-speeddial-action-icon {
        font-size: 0.9rem;
    }
}

:host ::ng-deep .self-url-msg {
    display: flex;
    position: absolute;
    opacity: 80%;
    left: 1rem;
    bottom: 0rem;
}
