<app-challenges-ticker [challenges]="challenges" [current_challenge_id]="c_current.id" [next_challenge_id]="c_next.id" [switchAutoRefreshEvent]="switchAutoRefreshSubject.asObservable()"></app-challenges-ticker>

<div class="title-bar">
    <div class="title">
        <i class="pi pi-chevron-down"></i>
        <span i18n="current challenge ranking table title|Title of the current challenge ranking table on wallboard screen@@wallboardCurrentChallengeTitle">
            Current Challenge
        </span>
        <i class="pi pi-chevron-down"></i>
    </div>
    <div class="title">
        <i class="pi pi-chevron-up"></i>
        <span i18n="challenge schedule ticker title|Title of the challenge schedule ticker on wallboard screen@@wallboardChallegenScheduleTitle">
            Challenge Schedule
        </span>
        <i class="pi pi-chevron-up"></i>
    </div>
    <div class="title">
        <i class="pi pi-chevron-down"></i>
        <span i18n="global ranking table title|Title of the global rankings table on wallboard screen@@wallboardGlobalRankingTitle">
            Global Ranking
        </span>
        <i class="pi pi-chevron-down"></i>
    </div>
</div>

<div class="rankings-container">
    <div class="ranking-challenge">
        <div class="challenge-connector"></div>
        <app-ranking-challenge [players]="players" [challengeRankings]="challengeRankings"></app-ranking-challenge>
    </div>

    <div class="ranking-global">
        <div class="global-connector"></div>
        <app-ranking-global [players]="players" [globalRankings]="globalRankings"></app-ranking-global>
    </div>
</div>

<p-speedDial [model]="speeddail_menu" direction="left" buttonClassName="p-button-outlined"></p-speedDial>

<p-messages severity="success" styleClass="self-url-msg">
    <ng-template pTemplate>
        <span class="custom-message">This page (and a lot more) can be found at: {{ settings.display_self_url }}</span>
    </ng-template>
</p-messages>
