<p-table [value]="sortablePlayerRankings" sortField="rank" [scrollable]="true" scrollHeight="calc(44vh - 0.5rem)" selectionMode="single" [(selection)]="selectedPlayerRanking" (onRowSelect)="selectPlayerRanking($event)" (onRowUnselect)="selectPlayerRanking(null)" styleClass="rounded-table">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="challenge_name"><ng-container i18n="Header for column challenge name in tables@@tableHeaderChallengeName">challenge</ng-container> <p-sortIcon field="challenge_name"></p-sortIcon></th>
            <th pSortableColumn="rank"><ng-container i18n="Header for column rank in tables@@tableHeaderRank">rank</ng-container> <p-sortIcon field="rank"></p-sortIcon></th>
            <th pSortableColumn="points"><ng-container i18n="Header for column points in tables@@tableHeaderPoints">points</ng-container> <p-sortIcon field="points"></p-sortIcon></th>
            <th pSortableColumn="time"><ng-container i18n="Header for column time in tables@@tableHeaderTime">time</ng-container> <p-sortIcon field="time"></p-sortIcon></th>
            <th pSortableColumn="at"><ng-container i18n="Header for column at in tables@@tableHeaderAt">at</ng-container> <p-sortIcon field="at"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-spr>
        <tr [pSelectableRow]="spr">
            <td><img class="cimg" src="{{ thumbnailUrlBase }}{{ spr.challenge_id }}.jpg" />&nbsp;{{ spr.challenge_name }}</td>
            <td>{{ spr.rank }}</td>
            <td>{{ spr.points }}</td>
            <td *ngIf="spr.time > 0">{{ spr.time / 1000 | number: '1.2-2' }}s</td>
            <td *ngIf="spr.time <= 0">---</td>
            <td>{{ spr.at * 1000 | date:'medium' }}</td>
        </tr>
    </ng-template>
</p-table>
