:host ::ng-deep #info-cards {
    display: flex;
    flex-direction: row;

    .info-card {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        background-color: var(--surface-card);
        font-family: var(--font-family);
        color: var(--text-color);
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 12rem;
        height: 12rem;

        .title {
            display: flex;
            justify-content: center;
        }
    }

    .rank-short {
        justify-content: center;
    
        .rank {
            display: flex;
            justify-content: center;
            font-size: 5em;
        }
    
        .diff {
            display: flex;
            justify-content: center;
            color: var(--danger);
        }
    }

    .challenge-list {
        * {
            pointer-events: unset;
        }
        opacity: 1;
        border: none;
        pointer-events:inherit;
    }

    @media (max-width: 800px) {
        .challenge-short {
            display: none;
        }

        #player-name {
            display: none;
        }

        .rank-short {
            width: 10rem;
            height: 10rem;
        }
    }
}

:host ::ng-deep #ranking-card {
    display: flex;
    flex-direction: row;

    .ranking-table {
        width: 50vw;
    }

    @media (max-width: 800px) {
        flex-direction: column;

        .ranking-table {
            width: 100vw;
        }
    }
}
