:host ::ng-deep .select-dialog {
    max-width: 15vw;
}

:host ::ng-deep #info-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .info-card {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        background-color: var(--surface-card);
        font-family: var(--font-family);
        color: var(--text-color);
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 13rem;
        height: 13rem;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.5rem;
        }
    }

    .rank-short {
        justify-content: center;
    
        .rank {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5em;
            flex-grow: 1;
        }
    
        .diff-neg {
            display: flex;
            justify-content: center;
            color: #f03e3e;
        }

        .diff-pos {
            display: flex;
            justify-content: center;
            color: #66d9e8;
        }
    }

    #player-name {
        .name {
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }

        .appendix {
            display: flex;
            justify-content: center;
        }
    }

    .challenge-list {
        * {
            pointer-events: unset;
        }
        opacity: 1;
        border: none;
        pointer-events:inherit;
    }

    @media (max-width: 1000px) {
        #best, #worst {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .challenge-short {
            display: none;
        }

        #player-name {
            display: none;
        }
    }

    @media (max-width: 600px) {
        .rank-short {
            width: 10rem;
            height: 10rem;
        }
    }
}

:host ::ng-deep #ranking-card {
    display: flex;
    flex-direction: row;

    .ranking-table {
        width: 50vw;
        margin-top: 1rem;
    }

    @media (max-width: 800px) {
        flex-direction: column;

        .ranking-table {
            width: calc(100vw - 1rem);
            margin-top: 0.5rem;
        }
    }
}

:host ::ng-deep .ranking-table-style {
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--surface-card);
    
        tr, tr th, .p-datatable-header {
            background-color: rgba(255, 255, 255, 0);
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }
}

:host ::ng-deep .p-speeddial-direction-left {
    right: 1rem;
    bottom: 1rem;

    .p-speeddial-button {
        width: 3.5rem;
        height: 3.5rem;
    }

    .p-speeddial-action {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.35rem;
        margin-right: 0.35rem;
        text-decoration: none;
    }

    .p-speeddial-action-icon {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    #speeddail-menu {
        display: none;
    }
}
