<p-dialog header="Select who you are" [visible]="!playerMe" [modal]="true" [closable]="false">
    <p>In this sceen you can live-track your progress.<br />For this to work I need to know who you are.</p>
    <p-dropdown appendTo="body" [options]="filteredPlayers" [(ngModel)]="selectedPlayerID" optionLabel="name" optionValue="id" [filter]="true" filterBy="name"></p-dropdown>&nbsp;
    <p-button label="Send" (onClick)="applyPlayerMe()"></p-button>
    <p>If you can't find your playername in the dropdown,<br />please contact: {{ settings?.display_admin }}</p>
</p-dialog>

<div id="info-cards" *ngIf="playerMe">
    <div id="player-name" class="info-card">
        <div class="title">
            Hello
        </div>

        <div class="name">
            {{ playerMe.name }}
        </div>

        <div class="appendix">
            Not you?&nbsp;<span class="pi pi-info-circle" pTooltip="Please contact: {{ settings?.display_admin ?? 'Admin' }}" tooltipPosition="bottom"></span>
        </div>
    </div>

    <div id="best" class="info-card challenge-short" *ngIf="bestRank">
        <div class="title">
            Best (Rank: {{ bestRank }})
        </div>
        <p-listbox [options]="bestChallengesNames" [disabled]="true" styleClass="challenge-list" [listStyle]="{'max-height':'10rem'}"></p-listbox>
    </div>

    <div id="worst" class="info-card challenge-short" *ngIf="worstRank">
        <div class="title">
            Worst (Rank: {{ worstRank }})
        </div>
        <p-listbox [options]="worstChallengesNames" [disabled]="true" styleClass="challenge-list" [listStyle]="{'max-height':'10rem'}"></p-listbox>
    </div>

    <div id="missing" class="info-card challenge-short">
        <div class="title">
            Missing Challenges
        </div>
        <p-listbox [options]="missingChallengesNames" [disabled]="true" styleClass="challenge-list" [listStyle]="{'max-height':'10rem'}"></p-listbox>
    </div>

    <div id="challenge-rank" class="info-card rank-short">
        <div class="title">
            Challenge Rank
        </div>
        <div class="rank">
            {{ meChallengeRank ? meChallengeRank : '---' }}
        </div>
        <div class="diff">
            {{ meChallengeDiff ? meChallengeDiff / 1000 : '---' }}
        </div>
    </div>

    <div id="gloabl-rank" class="info-card rank-short">
        <div class="title">
            Global Rank
        </div>
        <div class="rank">
            {{ meGlobalRank ? meGlobalRank : '---' }}
        </div>
        <div class="diff">
            {{ meGlobalDiff ? meGlobalDiff : '---' }}
        </div>
    </div>
</div>

<div id="ranking-card" *ngIf="playerMe">
    <div class="ranking-table">
        <app-playerhud-current-list [challengeRankings]="challengeRankings" [players]="players" [selectedPlayer]="playerMe"></app-playerhud-current-list>
    </div>
    <div class="ranking-table">
        <app-playerhud-global-list [globalRankings]="globalRankings" [players]="players" [selectedPlayer]="playerMe"></app-playerhud-global-list>
    </div>
</div>

<p-speedDial id="speeddail-menu" [model]="speeddail_menu" direction="left" buttonClassName="p-button-outlined"></p-speedDial>