<p-table [value]="challengeRankings" styleClass="ranking-table">
    <ng-template pTemplate="header">
        <tr>
            <th i18n="Header for column rank in tables@@tableHeaderRank">rank</th>
            <th i18n="Header for column points in tables@@tableHeaderPoints">points</th>
            <th i18n="Header for column player name in tables@@tableHeaderPlayerName">player</th>
            <th i18n="Header for column time in tables@@tableHeaderTime">time</th>
            <th i18n="Header for column at in tables@@tableHeaderAt">at</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ranking>
        <tr [ngClass]="{'player-active': playerActive(ranking.player_id)}">
            <td>{{ ranking.rank }}</td>
            <td>{{ ranking.points }}</td>
            <td>{{ playerName(ranking.player_id) }}</td>
            <td>{{ (!ranking.time ? "---" : (ranking.time / 1000).toFixed(3).toString() + "s") }}</td>
            <td>{{ ranking.at * 1000 | date:'medium' }}</td>
        </tr>
    </ng-template>
</p-table>
