:host ::ng-deep .grid-base {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 1fr auto 4fr;

    .row-spacer {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .p-inputgroup {
        margin-bottom: .5em;
    }

    .p-card-footer {
        text-align: end;
        padding: 0;
    }
}
