<div class="grid-base">
    <div class="row-spacer"></div>

    <div class="column-spacer"></div>

    <p-card i18n-header header="Login" i18n-subheader subheader="with your User credentials" styleClass="p-card-shadow">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText [(ngModel)]="username" i18n-placeholder placeholder="Username" autofocus>
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-unlock"></i></span>
            <input type="password" pInputText [(ngModel)]="password" (keyup.enter)="sendLogin()" i18n-placeholder placeholder="Password" />
        </div>

        <ng-template pTemplate="footer">
            <button pButton type="button" i18n-label label="Submit" (click)="sendLogin()"></button>
        </ng-template>
    </p-card>

    <div class="column-spacer"></div>

    <div class="row-spacer"></div>
</div>
