<p-table [value]="players" selectionMode="single" [(selection)]="selectedPlayer">
    <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>last_update</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-player>
        <tr [pSelectableRow]="player">
            <td>{{player.id}}</td>
            <td>{{player.name}}</td>
            <td>{{player.last_update * 1000 | date:'medium'}}</td>
        </tr>
    </ng-template>
</p-table>
<app-players-challenge-list *ngIf="selectedPlayer"></app-players-challenge-list>
