<p-table #dt [columns]="cols" [value]="sortablePlayers" sortField="rank" [scrollable]="true" scrollHeight="88vh" selectionMode="single" [(selection)]="selectedPlayer" (onRowSelect)="selectPlayer($event)" (onRowUnselect)="selectPlayer(null)" styleClass="rounded-table" exportFilename="player-ranking" csvSeparator=";">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
                {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <span *ngSwitchCase="'last_update'">{{ rowData[col.field] * 1000 | date:'medium' }}</span>
                <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
            </td>
        </tr>
    </ng-template>
</p-table>