<div class="challenge-card">
    <div class="card-content">
        <div class="header">
            <p>{{ challenge.name }}</p>
            <p-image src="{{ thumbnailUrl }}" styleClass="challengeThumbnail" [preview]="true" (onShow)="onDisableRefresh.emit()" (onHide)="onEnableRefresh.emit()"></p-image>
        </div>
        <div class="stats">
            <p><ng-container i18n="Header for Seen Count in Tables@@tableHeaderSeenCount">Seen Count</ng-container>: {{ challenge.seen_count }}</p>
            <p><ng-container i18n="Label for time limit in challenge-ticker@@labelTimeLimit">Time Limit</ng-container>: {{ challenge.time_limit | number: '1.0-0' }}s</p>
            <p *ngIf="!challenge.is_current && !challenge.is_next && !challenge.is_loading">
                <ng-container i18n="Header for Up In in Tables@@tableHeaderUpIn">Up in</ng-container>: {{ challenge.up_in }}
            </p>
            <p *ngIf="challenge.is_current">
                <ng-container i18n="Label for current challenge in challenge-ticker@@labelCurrent">Current</ng-container>
            </p>
            <p *ngIf="challenge.is_next && !challenge.is_loading">
                <ng-container i18n="Label for next challenge in challenge-ticker@@labelNextIn">Next in</ng-container>: {{ challenge.up_in }}
            </p>
            <p *ngIf="challenge.is_loading">
                <ng-container i18n="Label for loading challenge in challenge-ticker@@labelLoading">Loading</ng-container>
            </p>
        </div>
    </div>
    <div class="card-connector"></div>
</div>
