<p-table [value]="challengeRankings" styleClass="ranking-table">
    <ng-template pTemplate="header">
        <tr>
            <th i18n="table header player rank|Header for column challenge rank in ranking challenge table on wallboard screen@@tableHeaderPlayerRank">
                rank
            </th>
            <th i18n="table header player points|Header for column challenge points in ranking challenge table on wallboard screen@@tableHeaderPlayerPoints">
                points
            </th>
            <th i18n="table header player name|Header for column playername in ranking challenge table on wallboard screen@@tableHeaderPlayerName">
                player
            </th>
            <th i18n="table header player laptime|Header for column laptime in ranking challenge table on wallboard screen@@tableHeaderPlayerLaptime">
                time
            </th>
            <th i18n="table header player drove laptime at|Header for column at which player drove laptime in ranking challenge table on wallboard screen@@tableHeaderPlayerLaptimeAt">
                at
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ranking>
        <tr>
            <td>{{ ranking.rank }}</td>
            <td>{{ ranking.points }}</td>
            <td>{{ playerName(ranking.player_id) }}</td>
            <td>{{ (!ranking.time ? "---" : (ranking.time / 1000).toFixed(3).toString() + "s") }}</td>
            <td>{{ ranking.at * 1000 | date:'medium' }}</td>
        </tr>
    </ng-template>
</p-table>
