<p-table [value]="challengeRankings" styleClass="ranking-table">
    <ng-template pTemplate="header">
        <tr>
            <th>rank</th>
            <th>points</th>
            <th>player_id</th>
            <th>time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ranking>
        <tr>
            <td>{{ ranking.rank }}</td>
            <td>{{ ranking.points }}</td>
            <td>{{ playerName(ranking.player_id) }}</td>
            <td>{{ (!ranking.time ? "---" : (ranking.time / 1000).toFixed(3).toString() + "s") }}</td>
        </tr>
    </ng-template>
</p-table>
