<p-table [value]="sortableChallenges" sortField="up_in" [scrollable]="true" scrollHeight="88vh" selectionMode="single" [(selection)]="selectedChallenge" (onRowSelect)="selectChallenge($event)" (onRowUnselect)="selectChallenge(null)" styleClass="rounded-table">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name"><ng-container i18n="Header for column challenge name in tables@@tableHeaderChallengeName">challenge</ng-container> <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="time_limit"><ng-container i18n="Header for column time limit in tables@@tableHeaderTimeLimit">time limit</ng-container> <p-sortIcon field="time_limit"></p-sortIcon></th>
            <th pSortableColumn="seen_last"><ng-container i18n="Header for column seen in tables@@tableHeaderSeen">seen</ng-container> <p-sortIcon field="seen_last"></p-sortIcon></th>
            <th pSortableColumn="up_in"><ng-container i18n="Header for column up in tables@@tableHeaderUp">up</ng-container> <p-sortIcon field="up_in"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-challenge>
        <tr [pSelectableRow]="challenge">
            <td>{{ challenge.name }}<br />{{ challenge.id }}</td>
            <td><img class="cimg" src="{{ thumbnailUrlBase }}{{ challenge.id }}.jpg" />{{ challenge.time_limit / 1000 }}s</td>
            <td>
                <ng-container i18n="Label for seen count in challenges screen@@labelCount">Count</ng-container>: {{ challenge.seen_count }}<br />
                <ng-container i18n="Label for seen last in challenges screen@@labelLast">Last</ng-container>: {{ (challenge.seen_last ? (challenge.seen_last * 1000 | date:'medium') : "---") }}
            </td>
            <td>
                <ng-container i18n="Label for up in in challenges screen@@labelIn">In</ng-container>: {{ (challenge.up_in < 1 ? "<" : "~") }}{{ (challenge.up_in < 1 ? 1 : challenge.up_in) }}m<br />
                <ng-container i18n="Label for at in challenges screen@@labelAt">At</ng-container>: {{ challenge.up_at * 1000 | date:'medium' }}
            </td>
        </tr>
    </ng-template>
</p-table>
