<div class="title-bar">
    <div class="title">
        <i class="pi pi-chevron-down"></i>
        <span i18n="Title of players table on players screen@@playersPlayersTitle">
            Players
        </span>
        <i class="pi pi-chevron-down"></i>
    </div>
    <div class="title">
        <i class="pi pi-chevron-down"></i>
        <span i18n="Title of challenges table on players screen@@playersChallengesTitle">
            Challenges Stats
        </span>
        <i class="pi pi-chevron-down"></i>
    </div>
</div>

<div class="lists-container">
    <div class="players-list">
        <div class="players-connector"></div>
        <app-players-list #dt_players_list [players]="players" [globalRankings]="globalRankings" (selectPlayerEvent)="selectPlayer($event)"></app-players-list>
    </div>
    <div class="challenges-spacer">
        <div class="challenges-connector" *ngIf="selectedPlayer"></div>
    </div>
    <div class="challenges-container">
        <div class="challenges-list">
            <app-players-challenge-list [playerRankings]="playerRankings" [challenges]="challenges" [thumbnails]="provide_thumbnails" (selectPlayerRankingEvent)="selectPlayerRanking($event)" *ngIf="selectedPlayer"></app-players-challenge-list>
        </div>
        <div class="laptimes-connector" *ngIf="selectedPlayerRanking"></div>
        <div class="laptimes-list">
            <app-players-laptime-list [playerChallengeLaptimes]="playerChallengeLaptimes" [bestLaptimeAt]="selectedPlayerRanking.at" [provide_replays]="provide_replays" *ngIf="selectedPlayerRanking"></app-players-laptime-list>
        </div>
    </div>
</div>

<p-speedDial [model]="speeddail_menu" direction="left" buttonClassName="p-button-outlined"></p-speedDial>
