<p-table [value]="globalRankings">
    <ng-template pTemplate="header">
        <tr>
            <th>rank</th>
            <th>player_id</th>
            <th>points</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-globalRanking>
        <tr>
            <td>{{globalRanking.rank}}</td>
            <td [ngClass]="{'highlight': globalRanking.player_id === 'nijovanostow'}">{{playerName(globalRanking.player_id)}}</td>
            <td>{{globalRanking.points}}</td>
        </tr>
    </ng-template>
</p-table>
