[Unit]
Description=minio-Server

[Service]
Type=exec

Restart=always
RestartSec=5

Environment="MINIO_ROOT_USER=__user__"
Environment="MINIO_ROOT_PASSWORD=__password__"
Environment="MINIO_PROMETHEUS_AUTH_TYPE=public"

ExecStart=__project_dir__/minio server __storage__ --quiet
WorkingDirectory=__project_dir__
KillSignal=SIGINT

StandardInput=null
SyslogIdentifier=minio

[Install]
WantedBy=multi-user.target
