[Unit]
Description=TMNF-TimeAttackServer

[Service]
Type=simple
ExecStart=__project_dir__/venv/bin/python __project_dir__/timeAttackServer.py
KillSignal=SIGINT
WorkingDirectory=__project_dir__
RestartSec=5
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tmnf-tas

[Install]
WantedBy=multi-user.target
