[Unit]
Description=TMNF-TimeAttackServer

[Service]
Type=exec

Restart=always
RestartSec=5

ExecStart=__project_dir__/venv/bin/python __project_dir__/timeAttackServer.py
WorkingDirectory=__project_dir__
KillSignal=SIGINT

StandardInput=null
SyslogIdentifier=tmnf-tas

[Install]
WantedBy=multi-user.target
