[Unit]
Description=TMNF-DedicatedServer

[Service]
Type=exec

Restart=always
RestartSec=5

ExecStartPre=__project_dir__/venv/bin/python __project_dir__/cli.py --prepare-start
ExecStart=__project_dir__/dedicated/TrackmaniaServer /dedicated_cfg=dedicated_cfg.txt /game_settings=MatchSettings/active.txt /lan /nodaemon
WorkingDirectory=__project_dir__/dedicated
KillSignal=SIGINT

StandardInput=null
SyslogIdentifier=tmnfd

[Install]
WantedBy=multi-user.target
