<app-challenges-ticker [challenges]="challenges" [current_challenge_id]="c_current.id" [next_challenge_id]="c_next.id" [switchAutoRefreshEvent]="switchAutoRefreshSubject.asObservable()"></app-challenges-ticker>

<div class="rankings-container">
    <app-ranking-challenge [players]="players" [challengeRankings]="challengeRankings"></app-ranking-challenge>
    <app-ranking-global [players]="players" [globalRankings]="globalRankings"></app-ranking-global>
</div>

<p-speedDial [model]="speeddail_menu" direction="left" buttonClassName="p-button-outlined"></p-speedDial>
