<p-table responsiveLayout="scroll" [value]="rankingDisplay" sortField="rank" styleClass="ranking-table-style">
    <ng-template pTemplate="caption" i18n="Title of the global rankings table@@tableGlobalRankingTitle">Global Ranking</ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="rank"><ng-container i18n="Header for column rank in tables@@tableHeaderRank">rank</ng-container></th>
            <th><ng-container i18n="Header for column player name in tables@@tableHeaderPlayerName">player</ng-container></th>
            <th><ng-container i18n="Header for column points in tables@@tableHeaderPoints">points</ng-container> (<ng-container i18n="Header for column diff in tables@@tableHeaderDiff">diff</ng-container>)</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rd>
        <tr [ngClass]="{'selected-player': rd.player_id === selectedPlayer.id}">
            <td>{{ rd.rank }}</td>
            <td>{{ rd.player_name }}</td>
            <td>
                {{ rd.points | number: '1.0-0' }}
                <span *ngIf="rd.points_diff" [ngClass]="{'positive-points': rd.points_diff > 0, 'negative-points': rd.points_diff < 0}">({{ rd.points_diff | number: '1.0-0' }})</span>
            </td>
        </tr>
    </ng-template>
</p-table>
