<ng-container *ngIf="time_left > 0">
    <div class="challenge-card-container">
        <div class="challenge-card-container-servers" *ngFor="let server of servers">
            <div class="challenge-card-container-header">
                <p><ng-container i18n="Label prefixing Server Name on Challenge Schedule Header@@LabelScheduleFor">Schedule for</ng-container>: <span class="highlight">{{ server.name }}</span></p>
            </div>
            <div class="challenge-card-container-content">
                <app-challenge-card *ngFor="let cd of challengeDisplay[server.id]" [challenge]="cd" [thumbnail]="settings?.provide_thumbnails || false" (onEnableRefresh)="onEnableRefresh.emit()" (onDisableRefresh)="onDisableRefresh.emit()"></app-challenge-card>
            </div>
        </div>
    </div>
</ng-container>

<div class="challenge-card-container" *ngIf="time_left <= 0">
    <div class="finished">
        <div class="content">
            <div class="header">
                <p i18n="Text saying that Tournament is over@@TournamentOverText">Tournament is over</p>
            </div>
            <div class="info">
                <p><ng-container i18n="Redirecting to results info@@RedirectingResultsInfo">Redirecting to results in</ng-container>: {{ redirect_in }}s</p>
            </div>
        </div>
        <div class="connector"></div>
    </div>
</div>
