
<div class="wrapper-row">
    <div class="wrapper-elements">
        <div class="title">
            TMNF-TimeAttackServer
        </div>

        <div class="connector-container flex" *ngIf="start_countdown || end_countdown">
            <div class="connector"></div>
            <div class="connector"></div>
            <div class="connector"></div>
        </div>

        <div class="countdown-container" *ngIf="start_countdown || end_countdown">
            <div class="header">
                <ng-container *ngIf="start_countdown" i18n="Text of header for start countdown@@HeaderStartCountdownOnWallboard">Tournament starts in</ng-container>
                <ng-container *ngIf="end_countdown" i18n="Text of header for end countdown@@HeaderEndCountdownOnWallboard">Tournament ends in</ng-container>
            </div>
            <div class="counter">{{ countdown_h }}:{{ countdown_m }}:{{ countdown_s }}</div>
        </div>

        <div class="connector-container flex">
            <div class="connector"></div>
            <div class="connector"></div>
            <div class="connector"></div>
        </div>
        
        <div class="card-container flex">
            <a class="card" [ngClass]="{'disabled': start_countdown}" routerLink="/wallboard" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-window-maximize"></i>
                </div>
                <div i18n="Text of link to wallboard screen@@WallboardScreenLinkText">
                    Wallboard
                </div>
            </a>
            <a class="card" [ngClass]="{'disabled': start_countdown}" routerLink="/players" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-users"></i>
                </div>
                <div i18n="Text of link to players scrren@@PlayersScreenLinkText">
                    Players
                </div>
            </a>
            <a class="card" [ngClass]="{'disabled': start_countdown}" routerLink="/challenges" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-list"></i>
                </div>
                <div i18n="Text of link to challenges screen@@ChallengesScreenLinkText">
                    Challenges
                </div>
            </a>
        </div>

        <div class="connector-container flex">
            <div class="connector"></div>
            <div class="connector" *ngIf="start_countdown || end_countdown"></div>
            <div class="connector" *ngIf="uri.startsWith('/en/') || uri.startsWith('/de/')"></div>
        </div>

        <div class="card-container flex">
            <a class="card" *ngIf="!settings?.hotseat_mode" [ngClass]="{'disabled': start_countdown}" routerLink="/playerhud" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-user"></i>
                </div>
                <div i18n="Text of link to PlayerHUD screen@@PlayerHUDScreenLinkText">
                    PlayerHUD
                </div>
            </a>
            <a class="card" *ngIf="settings?.hotseat_mode" [ngClass]="{'disabled': start_countdown}" routerLink="/hotseat-name" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-user"></i>
                </div>
                <div i18n="Text of link to HotseatName screen@@HotseatNameScreenLinkText">
                    Hotseat
                </div>
            </a>
            <a class="card" *ngIf="start_countdown" routerLink="/start-countdown" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-clock"></i>
                </div>
                <div i18n="Text of link to start-countdown screen@@StartCountdownScreenLinkText">
                    Start Countdown
                </div>
            </a>
            <a class="card" *ngIf="end_countdown" routerLink="/end-countdown" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-clock"></i>
                </div>
                <div i18n="Text of link to end-countdown screen@@EndCountdownScreenLinkText">
                    End Countdown
                </div>
            </a>
            <a class="card" href="/de/" pRipple *ngIf="uri.startsWith('/en/')">
                <div class="icon">
                    <i class="pi pi-flag"></i>
                </div>
                <div>
                    Deutsch
                </div>
            </a>
            <a class="card" href="/en/" pRipple *ngIf="uri.startsWith('/de/')">
                <div class="icon">
                    <i class="pi pi-flag"></i>
                </div>
                <div>
                    English
                </div>
            </a>
        </div>

        <div class="connector-container flex">
            <div class="connector"></div>
            <div class="connector" *ngIf="start_countdown || end_countdown"></div>
            <div class="connector" *ngIf="uri.startsWith('/en/') || uri.startsWith('/de/')"></div>
        </div>

        <div class="info-container">
            <div class="info-row">
                <div class="settings">
                    <p><ng-container i18n="Label prefixing Ingame Server Name@@LabelIngameServerName">Ingame Server Name</ng-container>: <span class="highlight">{{ settings?.tmnfd_name }}</span></p>
                    <p><ng-container i18n="Label prefixing Server Admin@@LabelServerAdmin">Server Admin</ng-container>: <span class="highlight">{{ settings?.display_admin }}</span></p>
                </div>
            </div>

            <div class="info-row">
                <div class="stats">
                    <p><ng-container i18n="Label prefixing Laptimes Count@@LabelLaptimesCount">Laptimes Count</ng-container>: {{ stats?.laptimes_count }}</p>
                    <p><ng-container i18n="Label prefixing Laptimes Sum@@LabelLaptimesSum">Laptimes Sum</ng-container>: {{ laptimes_sum_h }}h {{ laptimes_sum_m }}m {{ laptimes_sum_s }}s</p>
                    <p><ng-container i18n="Label prefixing Challenges Total Seen Count@@LabelChallengesTotalSeenCount">Challenges Total Seen</ng-container>: {{ stats?.challenges_total_seen_count }}</p>
                </div>

                <div class="stats">
                    <p><ng-container i18n="Label prefixing Total Players@@LabelTotalPlayers">Total Players</ng-container>: {{ stats?.total_players }}</p>
                    <p><ng-container i18n="Label prefixing Active Players@@LabelActivePlayers">Active Players</ng-container>: {{ stats?.active_players }}</p>
                </div>
            </div>

            <div class="info-row" *ngIf="client_download_url">
                <div class="settings">
                    <p><a href="{{ client_download_url }}" i18n="Label prefixing TMNF Client Download URL@@LabelClientDownloadURL">Download latest compatible Client</a></p>
                </div>
            </div>
        </div>

        <div class="connector-container flex">
            <div class="connector hide"></div>
            <div class="connector"></div>
            <div class="connector hide"></div>
        </div>

        <div class="footer">
            <div class="footer-left">
                <ng-container *ngIf="settings">v{{ settings.version }}</ng-container>
            </div>
            
            <div class="footer-center">
                <a target="_blank" href="https://github.com/nils-ost/TMNF-TimeAttackServer">TMNF-TimeAttackServer</a>
            </div>
            
            <div class="footer-right">
                <a target="_blank" href="https://nijos.de">by NiJO's</a>
            </div>
        </div>
    </div>
</div>
