
<div class="wrapper-row">
    <div class="wrapper-elements">
        <div class="title">
            TMNF-TimeAttackServer
        </div>

        <div class="connector-container flex">
            <div class="connector"></div>
            <div class="connector"></div>
            <div class="connector"></div>
        </div>
        
        <div class="card-container flex">
            <a class="card" routerLink="/wallboard" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-window-maximize"></i>
                </div>
                <div i18n="Wallboard Linkcard Text|Text of linkcard to wallboard on welcome screen@@welcomeWallboardLinkText">
                    Wallboard
                </div>
            </a>
            <a class="card" routerLink="/player" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-user"></i>
                </div>
                <div i18n="Players Linkcard Text|Text of linkcard to players hub on welcome screen@@welcomePlayersLinkText">
                    Players
                </div>
            </a>
            <a class="card" routerLink="/challenge" routerLinkActive="active" pRipple>
                <div class="icon">
                    <i class="pi pi-list"></i>
                </div>
                <div i18n="Challenged Linkcard Text|Text of linkcard to challenges hub on welcome screen@@welcomeChallengesLinkText">
                    Challenges
                </div>
            </a>
        </div>
    </div>
</div>
