<p-table [value]="sortableChallengeRankings" sortField="rank" [scrollable]="true" scrollHeight="calc(44vh - 0.5rem)">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="rank">rank <p-sortIcon field="rank"></p-sortIcon></th>
            <th pSortableColumn="points">points <p-sortIcon field="points"></p-sortIcon></th>
            <th pSortableColumn="player_name">player <p-sortIcon field="player_name"></p-sortIcon></th>
            <th pSortableColumn="time">time <p-sortIcon field="time"></p-sortIcon></th>
            <th pSortableColumn="at">at <p-sortIcon field="at"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cr>
        <tr [pSelectableRow]="cr">
            <td>{{ cr.rank }}</td>
            <td>{{ cr.points }}</td>
            <td>{{ cr.player_name }}</td>
            <td>{{ cr.time / 1000 | number: '1.3-3' }}s</td>
            <td>{{ cr.at * 1000 | date:'medium' }}</td>
        </tr>
    </ng-template>
</p-table>